SENDGRID_API_KEY=
TO_EMAIL_ADDRESS=
NOTION_API_KEY=
NOTION_EXPENSES_DATABASE_ID=
NOTION_WALLET_DATABASE_ID=
NOTION_DAILY_EXPENSE_DATABASE_ID=
NOTION_MONTHLY_EXPENSE_DATABASE_ID=
NOTION_CATEGORY_SPORTS_ID=
NOTION_CATEGORY_GROCERY_ID=
NOTION_CATEGORY_TRANSPORT_ID=
NOTION_CATEGORY_SHOPPING_ID=
RECEIPT_AUTHORIZED_SENDER=
